


.popup {
	display: flex;
	flex-direction: column;
	align-items: start;

	position: relative;
	text-align: center;
	
	width: 950px;
	min-height: 300px;
	margin: 0 auto;
	top: -70px;
	border-radius: 20px;

	border: solid 1px rgba(255,255,255, 0.3);
}

.popup .search-box {
	height: 100px;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	border: solid 1px white;
	border-radius: 60px;
	color: #fff;
	text-align: center;

	align-self: center;
	background-color: #000;
	border: solid 1px rgba(255,255,255, 1);
	padding-left: 50px;
	padding-right: 50px;
	font-size: 30px;
	font-family: 'Helvetica Neue';
	font-weight: 200;


	margin-top: 100px;
}