body {
  background-color: #000;
  background-image: url('search_bg.png');
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center top;
}

.App {
  color: #fff;
/*  border: solid 1px blue;*/
  min-height: 2000px;
}
.App nav {
/*  display: flex;*/
/*  float: right;*/
  max-width: 1000px;
  align-self: center;

  margin: 0 auto;
}

.App nav .controls {
  width:100%;
}

.App nav .logo {
  width: 62px;
  height: 20px;
  background-image: url('logo.svg');
  align-items: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
}

.App nav .breaker {
  height: 2px;
  background-color: #fff;
  display: block;
}

.App-link {
  color: #61dafb;
}